@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Noto Sans KR, 돋움, sans-serif;
}


/* 반응형 디자인 (화면 크기에 따라 자동 조정) */
@media ( min-width : 992px) {
	.calendar1 {
		width: 80% ;
	}
	.ctable {
		font-size: 14px ;
	}

	.calendar1 .title {
	justify-content: center;
	}
	/* layout */
	
	.calendar1 {
		width: 800px;
		height: 800px;
		margin: auto;
	}

	.ctable1 .table2 {
		margin: auto;
		width: 200px;
		height: 80px;
		margin-top: 80px;
	}
	.calendar1 .cls {
		height: 100px ;
		width: 100px;
	}

	
	/* 기록버튼 */
	.btn1 .record {
		display: flex;
		flex-direction: low;
		width: 100px;
		height: 50px;
		background-color: #8FAB98;
		color: white;
		border-radius: 10px;
		border: none;

	}
.btn1{
	display : flex;
	flex-direction: low;
	justify-content: flex-end;
	text-align: center;
}

	/* 등록수정삭제 버튼 */
	
	.btn2 {
		display: flex;
		flex-direction: low;
		align-items: flex-end;
		justify-content: flex-end;
		border: none;
		border-radius: 10px;
		font-size: 20px;
		font-family: Noto Sans KR, 돋움, sans-serif;
	}
	
}